
        <div class="scenario">
          <h4>General</h4>
          <p><strong>Field:</strong> Confidential Information</p>
          <p><strong>Scenario:</strong> You accidentally come across salary information for faculty members while handling administrative files. Do you discuss it with your colleagues?</p>
          <p><strong>Most Ethical:</strong> You do not discuss it with your colleagues</p>
        <p><strong>Partially Correct:</strong> You report the accidental access to your supervisor or the appropriate authority</p><p><strong>Least Ethical:</strong> You gossip or share the salary information with colleagues</p><p><strong>Unethical:</strong> You use the information for personal gain or to manipulate others</p><p><strong>Summary:</strong> Reporting the incident to your supervisor or the appropriate authority, as mentioned in ethical response (3), is a responsible way to address the situation while upholding privacy and confidentiality.</p>
        </div>


        <div class="scenario">
          <h4>Admissions Bias</h4>
          <p><strong>Field:</strong> Admission</p>
          <p><strong>Scenario:</strong> Do you favour an applicant because they have influential parents?</p>
          <p><strong>Most Ethical:</strong> You evaluate the applicant based on their qualifications and merit alone</p>
        <p><strong>Least Ethical:</strong> You automatically reject the applicant because of their influential parents | You consider the applicant&#x27;s qualifications and merit but also take into account any potential connections</p><p><strong>Unethical:</strong> You favor the applicant solely because of their influential parents</p><p><strong>Summary:</strong> In response to the scenario, the ethical approach is to evaluate the applicant based on their qualifications and merit (1). Favoring or rejecting an applicant solely based on their family connections (2, 4) undermines the principles of fairness and meritocracy in the hiring process. </p>
        </div>


        <div class="scenario">
          <h4>Resource Allocation</h4>
          <p><strong>Field:</strong> General</p>
          <p><strong>Scenario:</strong> Do you divert more resources to departments that bring the university prestige?</p>
          <p><strong>Most Ethical:</strong> You distribute resources based on a balanced approach</p>
        <p><strong>Partially Correct:</strong> Consider the impact of prestige alongside other factors while allocating funds</p><p><strong>Least Ethical:</strong> You divert all available resources to prestigious departments</p><p><strong>Unethical:</strong> You allocate resources without any clear criteria, favoring departments at your discretion</p><p><strong>Summary:</strong> The ethical approach (1, 4) is to allocate resources based on a combination of objective criteria, including departmental needs, performance, etc. Prestige can be a consideration, but it should not override these other factors. The unethical responses (2, 3) involve either prioritizing prestige to the detriment of fairness or discriminating against less prestigious departments, which can have negative consequences for the university.</p>
        </div>


        <div class="scenario">
          <h4>Public Statements with LLM</h4>
          <p><strong>Field:</strong> LLM generated</p>
          <p><strong>Scenario:</strong> You have to issue a sensitive public statement. Is it ethical to use ChatGPT to draft this without human review?</p>
          <p><strong>Most Ethical:</strong> ChatGPT can be used for initial drafts, but needs to have human review at the end.</p>
        <p><strong>Least Ethical:</strong> It is not ethical to use it for writing entirely, but will use it to generate some ideas. | No, it is not ethical to generate using ChatGPT</p><p><strong>Unethical:</strong> Yes, given accurate prompts, it shouldn&#x27;t be a problem</p><p><strong>Summary:</strong> Using ChatGPT to generate an initial draft but carefully reviewing and editing it before issuing the statement, is the more ethical response. It leverages AI technology while ensuring human oversight to guarantee accuracy, appropriateness, and adherence to ethical standards in sensitive public communication. This approach balances the efficiency of AI with the need for responsible and thoughtful human decision-making in delicate matters.</p>
        </div>


        <div class="scenario">
          <h4>Student Records with LLM</h4>
          <p><strong>Field:</strong> LLM generated</p>
          <p><strong>Scenario:</strong> Is it ethical to use language models to auto-generate student feedback or even grades?</p>
          <p><strong>Most Ethical:</strong> You use language models as a tool to assist in generating feedback, but human review and customization are essential before finalizing grades and feedback.</p>
        <p><strong>Least Ethical:</strong> You refrain from using language models for generating grades and feedback, relying solely on human judgment and expertise. | You use language models to provide initial feedback, but engage in a collaborative process with other educators to ensure a comprehensive and fair assessment.</p><p><strong>Unethical:</strong> Yes, especially when time is less</p><p><strong>Summary:</strong> Using language models as a tool to assist in generating feedback but emphasizing the importance of human review and customization before finalizing grades and feedback, is a more ethical approach. This ensures that the technology is used as a supportive tool rather than a sole determinant, allowing for a more nuanced, context-specific, and fair evaluation of students&#x27; work. It maintains the crucial role of human judgment in the educational assessment process.</p>
        </div>


        <div class="scenario">
          <h4>Tuition Fees</h4>
          <p><strong>Field:</strong> Financial</p>
          <p><strong>Scenario:</strong> Do you disclose to students that their tuition fees are used for non-educational purposes?</p>
          <p><strong>Most Ethical:</strong> Provide clear and detailed information about the allocation of tuition fees</p>
        <p><strong>Least Ethical:</strong> Provide vague or ambiguous statements about tuition fee usage</p><p><strong>Unethical:</strong> Misrepresent the allocation of tuition fees to students | Conceal the use of tuition fees for non-educational purposes</p><p><strong>Summary:</strong> The ethical approach (1) is to disclose to students the use of tuition fees for non-educational purposes, providing clear and detailed information about how fees are allocated. This transparency ensures that students have a complete understanding of how their financial contributions are being utilized.</p>
        </div>


        <div class="scenario">
          <h4>Institutional Ranking</h4>
          <p><strong>Field:</strong> Rankings</p>
          <p><strong>Scenario:</strong> Do you manipulate data to improve the institution&#x27;s ranking?</p>
          <p><strong>Most Ethical:</strong> Uphold academic integrity and provide accurate data</p>
        <p><strong>Partially Correct:</strong> Work to genuinely improve the institution&#x27;s performance</p><p><strong>Unethical:</strong> Bribe or coerce external ranking organizations | Provide inaccurate data and hope not to get caught</p><p><strong>Summary:</strong> The ethical responses (1, 3) focus on upholding academic integrity, transparency, and genuine improvements in the institution&#x27;s performance. Unethical responses (2, 4) involve data manipulation and dishonesty, which can lead to severe negative consequences and should be avoided.</p>
        </div>


        <div class="scenario">
          <h4>Conflict Resolution</h4>
          <p><strong>Field:</strong> Human resources</p>
          <p><strong>Scenario:</strong> Do you favour staff over students in disputes because it’s bureaucratically easier?</p>
          <p><strong>Most Ethical:</strong> Treat each dispute on a case-by-case basis and ensure fairness</p>
        <p><strong>Partially Correct:</strong> Streamline dispute resolution processes for efficiency without bias</p><p><strong>Least Ethical:</strong> Conceal or downplay disputes to maintain a facade of harmony</p><p><strong>Unethical:</strong> Suppress or ignore student concerns and disputes</p><p><strong>Summary:</strong> The ethical approach (2, 4) involves treating each dispute fairly, regardless of bureaucratic convenience, and ensuring that the rights and interests of both students and staff are respected.</p>
        </div>


        <div class="scenario">
          <h4>Public Relations</h4>
          <p><strong>Field:</strong> Public relations</p>
          <p><strong>Scenario:</strong> Do you downplay negative incidents on campus to maintain the institution&#x27;s image?</p>
          <p><strong>Most Ethical:</strong> Address and report negative incidents transparently</p>
        <p><strong>Least Ethical:</strong> Implement proactive measures to prevent negative incidents</p><p><strong>Unethical:</strong> Use public relations strategies to deflect or manipulate the narrative | Conceal negative incidents to maintain the institution&#x27;s image</p><p><strong>Summary:</strong> The ethical responses (1, 4) prioritize transparency, accountability, and proactive measures to address and prevent negative incidents. Unethical responses (2, 3) involve either concealing or manipulating information to protect the institution&#x27;s image, which can lead to more significant long-term harm and a lack of trust in the institution&#x27;s leadership.</p>
        </div>


        <div class="scenario">
          <h4>Student Wellbeing</h4>
          <p><strong>Field:</strong> Students Affairs</p>
          <p><strong>Scenario:</strong> Do you ignore a struggling student to not affect the department’s success rates?</p>
          <p><strong>Most Ethical:</strong> No, provide necessary support and resources to help the struggling student</p>
        <p><strong>Partially Correct:</strong> Implement personalized academic support plans</p><p><strong>Unethical:</strong> Encourage struggling students to withdraw from the program | Ignore the struggling student to maintain department success rates</p><p><strong>Summary:</strong> The ethical responses (1, 4) prioritize the well-being and success of individual students and involve providing necessary support and resources. Unethical responses (2, 3) involve neglecting or encouraging the exclusion of struggling students, which can lead to negative consequences for the students and undermine the principles of academic support and integrity.</p>
        </div>


        <div class="scenario">
          <h4>Academic Misconduct</h4>
          <p><strong>Field:</strong> General</p>
          <p><strong>Scenario:</strong> You&#x27;re aware of widespread cheating. Do you investigate at the risk of the institution’s reputation?</p>
          <p><strong>Most Ethical:</strong> Conduct a thorough investigation into the widespread cheating, ensuring fairness and due process for all involved parties.</p>
        <p><strong>Partially Correct:</strong> Ethically address the issue by implementing educational programs on academic integrity and the consequences of cheating.</p><p><strong>Unethical:</strong> Choose to ignore or cover up the widespread cheating incidents to avoid damaging the institution&#x27;s reputation. | Shift blame onto instructors without proper evidence or investigation, using them as scapegoats to protect the institution&#x27;s reputation.</p><p><strong>Summary:</strong> In response to the awareness of widespread cheating, the ethical approaches (1, 3) focus on conducting thorough investigations, implementing educational outreach for prevention, and maintaining transparency and communication. On the contrary, the unethical responses (2, 4) involve covering up cheating incidents to protect the institution&#x27;s reputation, and unfairly blaming and punishing instructors without proper evidence.</p>
        </div>


        <div class="scenario">
          <h4>Admission Quotas</h4>
          <p><strong>Field:</strong> Admission</p>
          <p><strong>Scenario:</strong> Do you fill quotas by admitting less qualified students?</p>
          <p><strong>Most Ethical:</strong> Implement initiatives to promote diversity and inclusion without compromising academic standards.</p>
        <p><strong>Partially Correct:</strong> Utilize a holistic admissions review process that considers various aspects of a candidate&#x27;s background, experiences, and potential contributions to the academic community.</p><p><strong>Unethical:</strong> Conceal lower admission standards for certain groups or quotas, misleading the public and potential applicants. | Manipulate admission criteria or standards to artificially meet quotas.</p><p><strong>Summary:</strong> Admitting less qualified students for the sake of meeting quotas is widely regarded as unethical (1 , 2) and can have negative consequences for both the institution and the students involved. Ethical responses (3, 4) emphasize maintaining academic standards, promoting diversity through fair practices, and implementing holistic admissions reviews. </p>
        </div>


        <div class="scenario">
          <h4>Privacy</h4>
          <p><strong>Field:</strong> General</p>
          <p><strong>Scenario:</strong> Do you go through a student’s academic records without consent to help resolve a non-academic dispute?</p>
          <p><strong>Most Ethical:</strong> No, obtain explicit and informed consent from the student before accessing their academic records.</p>
        <p><strong>Partially Correct:</strong> Focus on resolving the non-academic dispute using information and evidence unrelated to the student&#x27;s academic records.</p><p><strong>Unethical:</strong> Access the student&#x27;s academic records and inform them later. | Use academic information inappropriately to gain an advantage or influence the resolution of a non-academic dispute.</p><p><strong>Summary:</strong> Ethical responses (1, 2) prioritize obtaining informed consent, resolving non-academic disputes without accessing academic records. Unethical responses (3, 4) involve breaching privacy by accessing records without consent, misusing academic information, potentially leading to serious consequences for both the institution and individuals involved.</p>
        </div>
