<!-- Admin Modal -->
<div class="portfolio-modal modal fade" id="modalAdmin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% include admin_scenarios.html %}
    </div>
  </div>
</div>

<!-- Academic Modal -->
<div class="portfolio-modal modal fade" id="modalAcademic" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% include academic_scenarios.html %}
    </div>
  </div>
</div>

<!-- Student Modal -->
<div class="portfolio-modal modal fade" id="modalStudents" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% include student_scenarios.html %}
    </div>
  </div>
</div>