<!-- Scenarios Grid Section -->
<section id="scenarios">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Scenarios</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
        <a href="{{ site.baseurl }}/student_scenarios/" class="portfolio-link">
          <div class="caption">
            <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i></div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/students.png" class="img-responsive" alt="Student Scenarios">
        </a>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <a href="{{ site.baseurl }}/admin_scenarios/" class="portfolio-link">
          <div class="caption">
            <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i></div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/admin.png" class="img-responsive" alt="Admin Scenarios">
        </a>
      </div>

      <div class="portfolio-flex-item portfolio-item">
        <a href="{{ site.baseurl }}/academic_scenarios/" class="portfolio-link">
          <div class="caption">
            <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i></div>
          </div>
          <img src="{{ site.baseurl }}/img/portfolio/academics.png" class="img-responsive" alt="Academic Scenarios">
        </a>
      </div>
    </div>

    <div class="text-center" style="margin-top:20px;">
      <a href="{{ site.baseurl }}/student_scenarios/" class="btn btn-lg btn-outline">View all Student Scenarios</a>
      <a href="{{ site.baseurl }}/admin_scenarios/" class="btn btn-lg btn-outline">View all Admin Scenarios</a>
      <a href="{{ site.baseurl }}/academic_scenarios/" class="btn btn-lg btn-outline">View all Academic Scenarios</a>
    </div>
  </div>
</section>